.menu-button-container {
  &.navbar-active {
    button {
      background-color: #5A6775;
      color: #fff;
      border-right: 8px solid transparent;
      cursor: initial;

      &:hover {
        background-color: #5A6775;
        color: #fff;
      }
    }
  }
  button {
    width: 100%;
    height: 45px;
    background-color: #313A47;
    cursor: pointer;

    border: none;
    outline: none;
    border-right: 0px solid transparent;
    padding: 0px 0px 0px 0px;

    color: #777;
    text-align: left;
    font-size: 1rem;
    line-height: 42px;
    
    transition: color 0.3s, background-color 0.3s, border 0.3s;

    &:hover {
      background-color: #5A6775;
      color: white;
    }

    .menu-button-icon {
      position: absolute;
      text-align: center;
      width: 50px;
    }

    .menu-button-text {
      margin-left: 55px;
      opacity: 1; transition: opacity 0.2s 0.2s;
      &.collapsed { opacity: 0; transition: opacity 0.2s; }
    }

  }
  hr {
    height: 1px;
    border: none;
    margin: 0px;
    background-color: #404953;
  }

  overflow-y: scroll;
}