.navbar-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  // background-color: #0b3d66;
  background-color: #00171f;
  padding: 2px;
  
  a {
    &.navbar-active {
      button {
        background-color: #007ea7;
        color: #0b3d66;
        cursor: initial;
        &:hover {
          background-color: #007ea7;
        }
      }
    }
    button {
      width: 100%;
      height: 40px;
      background-color: #00171f;
      border: none;
      border-bottom: 1px solid azure;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #003459;
      }

      
    }
    
  
  }
}
