.example-container {
  border-bottom: 6px solid #00D8FF;
  background-color: #2f2f2f;
  color: white;
  text-align: center;
}
.title {
  padding-top: 20px;
  font-size: 4rem;
  line-height: 80px;
}
.first-letter {
  color: #00D8FF;
}
.description {
  font-size: 1rem;
  line-height: 40px;
  padding-bottom: 20px;
}