.open-modal-btn {
  background-color: #44c767;
	border: 2px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 1rem;
	padding: 6px 12px;
  text-decoration: none;
  outline: none;
  &:hover { background-color: #1dc931; }
}