.expenses-add-row {
  width: 700px;
  height: 35px;


  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);

  background-color: #4CAF50;
  color: white;   
  text-align: center;
  line-height: 35px;

  // border: 1px solid rgb(49, 131, 51);

  margin-bottom: 20px;
}