.todo-list-container {
  width: 800px;
  margin: 0px auto;

  background-color: white;

  // border-left: 1px solid #00D8FF;
  // border-right: 1px solid #00D8FF;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 2px solid #00D8FF;

  min-height: 44px;
}
