.main-container {
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  // padding: 6px;

  overflow-y: scroll; 
}

.page {
  background-color: #fff;
  // -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  // box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  padding: 20px;


  display: flex;
  flex-grow: 1;
}