.clock-container {
  width: 150px;
  height: 150px;

  // border: 2px solid steelblue;

  position: absolute;

  .clock-face {
    background-color: #ddd;
    width: 146px;
    height: 146px;
    border: 2px solid #2f2f2f;
    border-radius: 73px;
  }

  .clock-hour, .clock-minute, .clock-second {
    transition: transform 0.4s ease-in-out;
  }

  .clock-hour {
    width: 35px;
    height: 4px;

    position: absolute;
    top: 73px;
    left: 75px;

    background-color: #2f2f2f;

    transform-origin: 0px 2px;
    border-radius: 20px;
  }

  .clock-minute {
    width: 70px;
    height: 2px;

    position: absolute;
    top: 74px;
    left: 75px;

    background-color: #2f2f2f;

    transform-origin: 0px 1px;
    border-radius: 10px;
  }


  .clock-second {
    width: 70px;
    height: 2px;

    position: absolute;
    top: 74px;
    left: 75px;

    background-color: crimson;

    transform-origin: 0px 2px;
    border-radius: 10px;
  }

  .clock-dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;

    position: absolute;
    top: 70px;
    left: 70px;

    background-color: rgb(255, 217, 0)
  }
}